@model PagedList.IPagedList<u19096527_HW06.Models.product>
@using PagedList.Mvc;

@*display textbox in one line with buttons*@
<style>
    .form-control {
        display: inline !important;
    }
</style>

@{
    ViewBag.Title = "Products";
}

<h2> Products </h2>

@using (Html.BeginForm("Index", "Products", FormMethod.Get))
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control", placeholder = "Enter product name..." })
                <button type="submit" class="btn btn-primary"> Search </button>
                <button type="button" class="btn btn-info" onclick="window.location.href = '@Url.Action("Create","Products")'"> Create </button>
            </div>
        </div>
    </div>
}
<br />

<table class="table table-striped">
    <tr>
        <th>
            Name
        </th>
        <th>
            Year
        </th>
        <th>
            Price
        </th>
        <th>
            Brand
        </th>
        <th>
            Category
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.product_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.model_year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.list_price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.brand.brand_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.category.category_name)
            </td>
            <td>
                <button class="btn btn-primary" onclick="editSelectedProductInfo(@item.product_id)"> Edit</button>
                <button class="btn btn-info"> Details</button>
                <button class="btn btn-danger"> Delete</button>
            </td>
        </tr>
    }
</table>

<br />

<!-- PAGINATION -->
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, currentFilter = ViewBag.CurrentFilter }))

<!-- MODAL SECTION -->
<!-- MODAL : EDIT PRODUCT -->
<div class="modal fade" id="modalEditProduct" tabindex="-1" role="dialog" aria-labelledby="modalLabelEditProduct" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h2 class="modal-title" id="modalTitleEditProduct"></h2>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12" style="width: 72% !important;">
                            <div class="form-horizontal ">
                                <div class="form-group">
                                    <label class="control-label col-md-2"> Name </label>
                                    <br />
                                    <div class="col-md-10">
                                        <input placeholder="Product Name" type="text" class="form-control" id="editProduct_Name" />
                                        <span id="nameRequired" hidden class="text-danger"> PLEASE FILL IN THE PRODUCT NAME ! </span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-2"> Brand </label>
                                    <br />
                                    <div class="col-md-10">
                                        <select class="form-control" id="editProduct_Brand"></select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2"> Category </label>
                                    <br />
                                    <div class="col-md-10">
                                        <select class="form-control" id="editProduct_Category"></select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-2">Year</label>
                                    <br />
                                    <div class="col-md-10">
                                        <input placeholder="2022" type="text" class="form-control" id="editProduct_Year" />
                                        <span id="yearInvalid" hidden class="text-danger"> MODEL YEAR ENTERED IS INVALID! </span>
                                        <span id="yearRequired" hidden class="text-danger"> PLEASE FILL IN THE MODEL YEAR ! </span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-2">List Price</label>
                                    <br />
                                    <div class="col-md-10">
                                        <input placeholder="2500" type="text" class="form-control" id="editProduct_Price" />
                                        <span id="priceInvalid" hidden class="text-danger"> PRICE ENTERED IS INVALID ! </span>
                                        <span id="priceRequired" hidden class="text-danger">PLEASE FILL IN THE LIST PRICE ! </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="saveNewProductInfo()">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- MODAL : DISPLAY PRODUCT DETAILS -->
<div class="modal fade" id="modalDisplayDetails" tabindex="-1" role="dialog" aria-labelledby="modalLabelDisplayDetails" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <h2>Details</h2>

                <div>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            Name
                        </dt>

                        <dd>
                            <span id="modalDetails_productName"></span>
                        </dd>

                        <dt>
                            Year
                        </dt>

                        <dd>
                            <span id="modalDetails_modelYear"></span>
                        </dd>

                        <dt>
                            Price
                        </dt>

                        <dd>
                            <span id="modalDetails_listPrice"></span>
                        </dd>

                        <dt>
                            Brand
                        </dt>

                        <dd>
                            <span id="modalDetails_brandName"></span>
                        </dd>

                        <dt>
                            Category
                        </dt>

                        <dd>
                            <span id="modalDetails_category"></span>
                        </dd>
                    </dl>
                </div>
                <table id="tblSimpleAttribute" class="table table-bordered table-striped table-responsive table-hover">
                    <thead>
                        <tr>
                            <th align="left" class="productth col-md-6"> Store </th>
                            <th align="left" class="productth col-md-6"> Quantity </th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- SCRIPT SECTION -->

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {

        });

        var iSelectedProductID = 0;
        function editSelectedProductInfo(productId) {
            iSelectedProductID = 0;
            iSelectedProductID = productId;

            //AJAX - GET DATA FROM JSON RESULT IN productController.cs
            $.ajax({
                url: '/Products/Edit',
                type: "GET",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                data: { "id": productId },
                success: function (data) {
                    console.log(data);

                    //AJAX - POPULATE MODAL DATA
                    //MODAL TITLE modalTitleEditProduct
                    $('#modalTitleEditProduct').text("Edit Product");

                    //MODAL BODY
                    //POPULATE PRODUCT NAME editProduct_Name
                    $('#editProduct_Name').val(data.product.product_name);

                    //POPULATE DROPDOWN OF BRAND LIST
                    var brands_innerHTML = "";
                    for (i = 0; i < data.product.brands.length; i++) {
                        brands_innerHTML += "<option value='" + data.product.brands[i].brand_id + "'>" + data.product.brands[i].brand_name + "</option>";
                    }
                    $('#editProduct_Brand').append(brands_innerHTML);

                    //POPULATE DROPDOWN OF CATEGORY LIST
                    var categories_innerHTML = "";
                    for (i = 0; i < data.product.categories.length; i++) {
                        categories_innerHTML += "<option value='" + data.product.categories[i].category_id + "'>" + data.product.categories[i].category_name + "</option>";
                    }
                    $('#editProduct_Category').append(categories_innerHTML);

                    //ASSIGN SELECTED BRAND OPTION
                    $("#editProduct_Brand").val(data.product.brand_id).attr("selected", "selected");

                    //ASSIGN SELECTED CATEGORY OPTION
                    $("#editProduct_Category").val(data.product.category_id).attr("selected", "selected");

                    //POPULATE MODEL YEAR
                    $('#editProduct_Year').val(data.product.model_year);

                    //POPULATE LIST PRICE
                    $('#editProduct_Price').val(data.product.list_price);

                    //DISPLAY MODAL
                    $('#modalEditProduct').modal('show');
                },
                error: function (error) {
                    console.log(error);
                }
            });
        };

        function saveNewProductInfo() { };

        function displaySelectedProductInfo() { };

        function DeleteSelectedProduct() { };
    </script>
}